table {
    border: 1px solid #333;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid #333;
    padding: 15px;
}

th a,
td a {
    padding: 5px 15px;
    background-color: green;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

.delete {
    background-color: red;
}